source_url "https://raw.githubusercontent.com/cachix/devenv/82c0147677e510b247d8b9165c54f73d32dfd899/direnvrc" "sha256-7u4iDd1nZpxL4tCzmPG0dQgC5V+/44Ba+tHkPob1v2k="

use devenv

# Build parameters
export LAMBDA_VERSION="v1.0.8"
export AWS_REGION="us-east-1"

# APP parameters
export MODE=dev
export ITM_PICKLE_PATH=data/itm.pickle
export QUOTES_API_KEY=$(pass show api/financialmodelingprep)
export OPENAI_API_KEY=$(pass show api/openai/options-advisor-api)
export NTFY_TOPIC=volstats
export DOMAIN_NAME=volstats.com
