layout_poetry
# Build parameters
export FLASK_APP=app_flask.py
export AWS_REGION="us-east-1"
export AWS_S3_BUCKET="options-advisor-czoia3i4chxn"
export AWS_ECR_REPO="options-advisor"
export AWS_ECR_TAG="latest"

# APP parameters
export MODE=dev
export ITM_PICKLE_PATH=data/itm.pickle
export QUOTES_API_KEY=$(pass show api/twelvedata_secret_key)