layout_poetry
# Build parameters
export LAMBDA_VERSION="v1.0.1"
export AWS_REGION="us-east-1"

# APP parameters
export MODE=dev
export ITM_PICKLE_PATH=data/itm.pickle
export QUOTES_API_KEY=$(pass show api/twelvedata_secret_key)
export DOMAIN_NAME=volstats.com