data/
.venv/
__pycache__/
.ipynb_checkpoints/
Pulumi.dev.yaml
.envrc
pulumi/lambda
pulumi/s3
index.html# Devenv
.devenv*
devenv.local.nix
.lock
index.html

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
