@import "https://unpkg.com/chota@latest";

/* Override chota default variables */
:root {
  --color-primary: #b09ff5; /* brand color */
  --grid-maxWidth: 108rem; /* max container width 1080px */
}

/* Add any other overrides below */
h1 {
    margin-bottom: 0;
    padding-bottom: 0;
}
