:root {
    /* Solarized Light Palette */
    --base01: #fdf6e3; /* background */
    --base02: #eee8d5; /* background highlight */
    --base03: #93a1a1; /* comments / secondary content */
    --base04: #839496; /* body text / default code / primary content */
    --base05: #657b83; /* optional emphasized content */
    --base06: #586e75; /* optional emphasized content */
    --base07: #073642; /* backgrounds of space like panes */
    --base08: #002b36; /* background highlights */
    
    /* Solarized Accent Colors (same for dark and light themes) */
    --yel: #b58900;
    --ora: #cb4b16;
    --red: #dc322f;
    --mag: #d33682;
    --vio: #6c71c4;
    --blu: #268bd2;
    --cya: #2aa198;
    --gre: #859900;
}

/* Media query for screens smaller than 600px */
@media only screen and (max-width: 600px) {
    .dat, .sta {
        font-size: 6px;
        width: 70%;
    }
    img {
        width: 70%;
    }
}

/* Media query for screens between 600px and 1200px */
@media only screen and (min-width: 601px) and (max-width: 1200px) {
    .dat, .sta {
        font-size: 8px; /* Medium font size for medium screens */
    }
}

/* Media query for screens larger than 1200px */
@media only screen and (min-width: 1201px) {
    .dat, .sta {
        font-size: 10px; /* Medium font size for medium screens */
    }

}


html {
    font-family: sans-serif;
    font-size: 14px;
    color: var(--base0);
    background-color: #FFF;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    overflow-wrap: anywhere;
    max-width: calc(150vw - 3em);
    width: 90ch;
    margin: 0 auto;
}

p {
    margin: 0px;
    padding: 0px;
}

h1 {
    font-size: 16px;
    margin: 0.5em 0;
}

/* dataframe table */
.dataframe {
    border-collapse: collapse;
    font-size: 10px;
    width: 100%;
}
.dataframe th, .dataframe td {
    border: 1px solid var(--nr08);
    text-align: left;
    padding: 8px;
}
.dataframe tr:nth-child(even) {
    background-color: var(--nr03);
}

/* inputs table */
.inputs {
    color: var(--nr04);
    width: 70%;
    vertical-align: bottom;
}

/* Floating Footer */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    max-width: calc(100vw - 3em);
    width: 78ch;
    background-color: var(--nr00);
    color: var(--nr04);
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    background-color: solid;
}

.dat { color: var(--base07); font-size: 10px; text-align: left; vertical-align: bottom;} /* date */
.sta { color: var(--base07); font-size: 10px; text-align: right; vertical-align: bottom;} /* status */

